.Cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 105px;
  height: 88vh;
  width: 400px;
  background: #efeae3e6;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, 0.537);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 35px 25px 15px;

  transition: box-shadow 1s, width 1s, padding-right 1s, padding-left 1s;
}

@media only screen and (max-width: 530px) {
  .Cart {
    width: 100%;
    border-radius: 0;
  }
}

.Item {
  display: flex;
  justify-content: space-between;
  text-align: end;
  height: 135px;
  padding: 15px 0;
  border-bottom: solid 1px rgba(128, 128, 128, 0.417);
}

.product__thumb {
  object-fit: contain;
}

.item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__row--0 {
  font-family: "Gruppo", Arial, Helvetica, sans-serif;
}

.item__row--1 {
  color: gray;
  font-size: 12px;
  max-width: 150px;
}

.item__row--1 > p {
  line-height: 12px;
  text-align: end;
}

.item__row--2 {
  display: flex;
  justify-content: flex-end;
}

.btn--del {
  height: 28px;
  line-height: 14px;
  font-size: 14px;
  color: white;
  text-shadow: 1px 1px black;
  border: outset 2px rgba(253, 71, 71, 0.634);
  margin-right: 10px;
  box-shadow: none;
  background: rgba(234, 85, 85, 0.887);
}

@media (hover: hover) {
  .btn--del:hover {
    background: linear-gradient(
      to bottom right,
      rgba(255, 0, 0, 0.671),
      rgba(207, 145, 145, 0.696),
      rgba(255, 0, 0, 0.609)
    );
    box-shadow: none;
    color: rgb(184, 184, 184);
  }
}

.btn--count {
  box-shadow: none;
  background: none;
  height: 30px;
  line-height: 5px;
  padding: 0;
  margin: -2px 5px 0;
}

.btn--count:hover {
  box-shadow: none;
}

.item--count {
  background: white;
  width: 30px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 25px;
  border: solid 1px black;
  border-radius: 5px;
}

.total__price {
  align-self: flex-end;
  text-align: end;
  width: 175px;
  margin: 20px 0;
  color: rgb(44, 44, 44);
  font-family: "Gruppo", Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.766);
  font-size: 1.5rem;
}

.btn--checkout {
  background: rgba(205, 203, 191, 0.704);
}

.Cart--hidden {
  width: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
}
