.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: solid 2px rgba(128, 128, 128, 0.311);
  padding: 0 5vw;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: rgba(198, 192, 192, 0.714);
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.512);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.Header > h1 {
  cursor: alias;
  transition: color 0.5s;
}

@media (hover: hover) {
  .Header > h1:hover {
    color: rgb(238, 161, 161);
  }
}
